<h1>MySQL Results:</h1>
<p>{{results}}</p>

    <form id="searchFigure" action="./search.html" method="get">
        <div>
            First Name.
            <input type="text" name="fname"/>
            Last Name.
            <input type="text" name="lname"/>

            <input action="https://en.wikipedia.org/wiki/{{fname}}_{{lname}}" type="submit">
            <!-- <a href='/search.html'><button onclick='searchFigure'>Submit</button></a> -->
        </div>
    </form>